<h2 id="title">ember-prism</h2>

<h3>code-block</h3>
<CodeBlock>
  &lt;div&gt;
    Can you dig it?
  &lt;/div&gt;
</CodeBlock>

<h3>code-block with `line-numbers` plugin:</h3>
<CodeBlock class="line-numbers">
  &lt;div&gt;
    Can you dig it?
  &lt;/div&gt;
</CodeBlock>

<h3>code-inline</h3>
<CodeInline>
  <span>Test</span>
</CodeInline>
