<h1 id="title">ember-prism</h1>

<h2>1. <code>&lt;CodeBlock&gt;</code> in inline form</h2>

<CodeBlock
  @code="ember install ember-prism"
/>

<h2>2. <code>&lt;CodeBlock&gt;</code> in block form</h2>

<CodeBlock
  class="can-you-dig-it"
  @code={{this.canYouDigIt}}
/>

<h2>3. <code>&lt;CodeBlock&gt;</code> with line numbers</h2>

<CodeBlock
  @code={{this.canYouDigIt}}
  @showLineNumbers={{true}}
/>

<h2>4. <code>&lt;CodeBlock&gt;</code> with language</h2>

<CodeBlock
  @code={{this.hbsExample}}
  @language="handlebars"
/>

<h2>5. <code>&lt;CodeInline&gt;</code></h2>

<CodeInline @code="<span>Test</span>"/>

<div>
  <p>
    Did you know <CodeInline @code="ember-code-snippet"/> works great with <CodeInline @code="ember-prism"/>?
  </p>
</div>