<h1 id="title">ember-prism</h1>


<h2>1. <code>&lt;CodeBlock&gt;</code> in inline form</h2>

<NewCodeBlock
  @code="ember install ember-prism"
/>


<h2>2. <code>&lt;CodeBlock&gt;</code> in block form</h2>

<NewCodeBlock>
  &lt;div&gt;
    Can you dig it?
  &lt;/div&gt;
</NewCodeBlock>


<h2>3. <code>&lt;CodeBlock&gt;</code> with line numbers</h2>

<NewCodeBlock
  @showLineNumbers={{true}}
>
  &lt;div&gt;
    Can you dig it?
  &lt;/div&gt;
</NewCodeBlock>


<h2>4. <code>&lt;CodeBlock&gt;</code> with language</h2>

<NewCodeBlock
  @language="handlebars"
>
  \{{!-- app/components/panel.hbs --}}

  \{{#if this.isAdmin}}
    &lt;Panel::Admin /&gt;
  \{{else}}
    &lt;Panel::NonAdmin /&gt;
  \{{/if}}
</NewCodeBlock>


<h2>5. <code>&lt;CodeInline&gt;</code></h2>

<div>
  <p>
    Did you know? <CodeInline>ember-code-snippet</CodeInline> works great with <CodeInline>ember-prism</CodeInline>!
  </p>
</div>
