<h1 id="title">ember-prism</h1>

<h2>1. <code>&lt;CodeBlock&gt;</code> in inline form</h2>

<CodeBlock
  @code="ember install ember-prism"
/>

<h2>2. <code>&lt;CodeBlock&gt;</code> in block form</h2>

<CodeBlock class="can-you-dig-it">
  &lt;div&gt;
    Can you dig it?
  &lt;/div&gt;
</CodeBlock>

<h2>3. <code>&lt;CodeBlock&gt;</code> with line numbers</h2>

<CodeBlock
  @showLineNumbers={{true}}
>
  &lt;div&gt;
    Can you dig it?
  &lt;/div&gt;
</CodeBlock>

<h2>4. <code>&lt;CodeBlock&gt;</code> with language</h2>

<CodeBlock
  @language="handlebars"
>
  \{{!-- app/components/panel.hbs --}}

  \{{#if this.isAdmin}}
    &lt;Panel::Admin /&gt;
  \{{else}}
    &lt;Panel::NonAdmin /&gt;
  \{{/if}}
</CodeBlock>

<h2>5. <code>&lt;CodeInline&gt;</code></h2>

<CodeInline>
  <span>Test</span>
</CodeInline>

<div>
  <p>
    Did you know? <CodeInline>ember-code-snippet</CodeInline> works great with <CodeInline>ember-prism</CodeInline>!
  </p>
</div>
