<h2 id="title">Welcome to Ember.js</h2>

{{#code-block}}&lt;div&gt;
  Can you dig it?
&lt;/div&gt;{{/code-block}}

<h3>With `line-numbers` plugin:</h3>
{{#code-block class="line-numbers"}}&lt;div&gt;
  Can you dig it?
&lt;/div&gt;{{/code-block}}

{{outlet}}
